html {
    font-size: 100%;
    height: 100%;
    width: 100%;
}

body {
    font-family: "Bodoni MT", Bodoni, Didot, Garamond, serif;
    font-size: 100%;
    height: 100%;
}

h1 {
    font-size: 8em;
    color: #f8f7ff;
    text-shadow: 2px 2px #0f0f3d;
    line-height: 85px;
}

h2 {
    font-size: 3em;
    color: #f8f7ff;
    text-shadow: 2px 2px #0f0f3d;
}

h4 {
    font-size: 1.1em;
    color: #f8f7ff;
    text-shadow: 1px 1px #0f0f3d;
}

p {
    font-size: 1.5em;
    color: #f8f7ff;
    text-shadow: 2px 2px #0f0f3d;
}

.fixed{
    position:fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.fixed-buttons{
    position: relative;
    margin: auto;
    z-index: 5;
}

.fixed-flag{
    position: fixed;
    top: 30px;
    right: 30px;
}

.side-button{
    width: 100px;
    background-color: white;
    opacity: 1;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #f3f2f1;
}

.side-button.menu{
    cursor: pointer;
}

.menuButton{
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
}

.menu-content{
    position: absolute;
    top: 100px;
    left: 100px;
    padding: 7px 7px 5px 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #f3f2f1;
    background-color: white;
    min-width: 300px;
    visibility:hidden;
    opacity:0;
    filter: alpha(opacity=0);
    -webkit-transition: 200ms ease;
    -moz-transition: 200ms ease;
    -o-transition: 200ms ease;
    transition: 200ms ease;
}

#bootstrap-overrides .menu-content a {
    color: #262940;
    font-size: 2em;
    text-decoration: none;
    display: block;
}

#bootstrap-overrides .menu-content a:hover {
    background-color: #ddd
}

.show {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
}

.side-button.contact {
    border-style: none;
}

.button-image {
    width: 100px;
    height:auto;
}

.content-text{
    position: relative;
    margin: auto;
    text-align: center;
    height: 100%;
    width: 80%;
    /*border: 3px solid blue;*/
    -ms-transform: translate(0%,25%);
    transform: translate(0%,25%);
}

.slide {
	position: absolute;
	top: 0px; /*not 50px?*/
	left:0;
	width: 100%;
    height: auto;
	z-index: 0;
}
.slide .animatable {
	opacity:0;
	-webkit-transform:translate(0,30px);
	transform:translate(0,30px);
	-webkit-transition:opacity 0.4s ease,-webkit-transform 0.4s ease;
	transition:opacity 0.4s ease,transform 0.4s ease;

}
.slide.active.remove .animatable {
	opacity:0;
	-webkit-transform:translate(0,-20px);
	transform:translate(0,-20px);
}

.slide.active .animatable {
	opacity:1;
	-webkit-transform:translate(0,0);
	transform:translate(0,0);

}
.slide.active {
	z-index: 10;
}

#bio-slide {
    border-style: solid;
    border-color: red;
    border-width: 2px;
    position: relative;
    top: -10vh;
}

.panel {
    height: 100vh;
    width: auto;
    padding: 0;
    margin: 0;
}

.container-fluid {
    height: 100vh;
    width: auto;
    margin: 0;
    padding: 0;
}

.stretch-scale{
    min-width:100vw;
    min-height:100vh;
    width:auto;
    height:auto;
}

.bio-img{
    padding: 10px;
    margin: auto;
    max-height: 20vw;
    width: 20vw;
    height: auto;
}

.bg-purple{

}

.bg-grey {
    background-color: #f3f2f1;
}

.bg-blue {
    background-color: #bfc2d9;
}


.pagination {
	position:fixed;
	right:20px;
	top: 50%;
    transform: translateY(-50%);
	font-size:1em;
	z-index: 10;
}

.pagination a {
	display:block;
	height:20px;
	margin-bottom:5px;
	position:relative;
	padding:4px;
}

.pagination a.active:after {
	box-shadow:inset 0 0 0 5px;
}

.pagination a .hover-text {
	position:absolute;
	right:20px;
	top:0px;
	opacity:0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
}

.pagination a:hover .hover-text {
	opacity: 1;
}

.pagination a:after {
	-webkit-transition:box-shadow .5s ease;
	transition:box-shadow .5s ease;
	width:10px;
	height:10px;
	display: block;
	border:1px solid;
	border-radius:50%;
	content:'';
	position: absolute;
	margin:auto;
	top:0;
	right:4px;
	bottom:0;
}

#side-nav {
    display: block;
    position: fixed;
    top: 30px;
    left: 30px;
}

#bootstrap-overrides li {
    display: block;
    border: 0px;
    background-color: transparent;
    border-radius: 0;
}

#bootstrap-overrides a {
    border: 0px;
    color: #f8f7ff;
    background: transparent;
}

#bootstrap-overrides ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}


/*
.menu-dot {
    height: 9px;
    width: 9px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 3px;
}

.menu-text {
    display: inline-block;
    text-indent: 30px;
}

.side-item:hover .menu-dot {
    background-color: white;
}
*/

.carousel.slide{
    position: relative;
    top: 0px;
}
.carousel {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.carousel-inner{
    height: 100vh;
    width: auto;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}


/*
#homeSidenav a {
    position: absolute;
    right: -125px;
    transition: 0.3s;
    padding: 15px;
    width: 180px;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#homeSidenav a:hover {
    right: 0;
}

#side-about {
    top: 400px;
}

#side-featured {
    top: 460px;
}

#side-services {
    top: 520px;
}

#side-team {
    top: 580px;
}
*/
